<div class="wrapper">
  <div class="navbar">
    <div class="navbar__item -blue" (click)="open('settings')">
      <span class=" navbar__icon">
        <i class="fa-solid fa-gear fa-lg"></i>
      </span>
    </div>
    <div class="navbar__item -orange" (click)="open('open-rapports')">
      <span class="navbar__icon">
        <i class="fa-regular fa-file-lines fa-lg"></i>
      </span>
    </div>
    <div class="navbar__item -navy-blue" (click)="open('add')">
      <span class="navbar__icon">
        <i class="fa-solid fa-plus fa-lg"></i>
      </span>
    </div>
    <div class="navbar__item -purple" (click)="open('close-month')">
      <span class="navbar__icon">
        <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
      </span>
    </div>
  </div>
</div>