<section class="container_header">
  <h2>Lcm Track</h2>
  <div class="container-cards">
    <app-cards title="Outubro 2024" [total]="2450" description="Saldo" [saved]="550"></app-cards>
    <app-cards title="Novembro 2024" [total]="2890" description="Saldo" [saved]="110"></app-cards>
    <app-cards title="Total Gasto" [total]="943" description="Novembro 2024"></app-cards>
    <app-cards title="Saldo Atual" [total]="57" description="Cumulativo"></app-cards>
  </div>
</section>
<section class="container_table">
  <app-table></app-table>
</section>
<app-header (openModal)="openModal($event)"></app-header>
<app-bottom-modal [isOpen]="isModalOpen" (closeModal)="closeModal()">
  <ng-container [ngSwitch]="modalType">

    <!-- Modal de adicionar input -->
    <div *ngSwitchCase="'add'">
      <h3>Adicionar entrada</h3>
      <input type="text" placeholder="Descrição">
      <input type="number" placeholder="Valor">
      <button>Guardar</button>
    </div>

    <!-- Modal de definições -->
    <div *ngSwitchCase="'settings'">
      <h3>Definições</h3>
      <p>Aqui podes alterar config...</p>
    </div>

    <!-- Modal de definições -->
    <div *ngSwitchCase="'open-rapports'">
      <h3>Rapports</h3>
      <p>Aqui podes abrir os rapports...</p>
    </div>

    <!-- Modal de fechar mês -->
    <div *ngSwitchCase="'close-month'">
      <h3>Fechar mês</h3>
      <button>Confirmar</button>
    </div>

  </ng-container>
</app-bottom-modal>
