<section class="container_header">
  <h2>Lcm Track</h2>
  <div class="container-cards">
    <app-cards title="Outubro 2024" [total]="2450" description="Saldo" [saved]="550"></app-cards>
    <app-cards title="Novembro 2024" [total]="2890" description="Saldo" [saved]="110"></app-cards>
    <app-cards title="Total Gasto" [total]="943" description="Novembro 2024"></app-cards>
    <app-cards title="Saldo Atual" [total]="57" description="Cumulativo"></app-cards>
  </div>
</section>
<section class="container_table">
  <app-table></app-table>
</section>
<app-header></app-header>