<section class="container_header">
  <h2>LCM Track</h2>
  <div class="container-cards">
    @for (item of cardItems; track item.id) {
    <app-cards [title]="item.description" [total]="item.totalValue" description="Saldo"
      [saved]="item.saved"></app-cards>
    }
    <app-cards-rapport title="Total Gasto" [total]="943" description="Novembro 2024" />
    <app-cards-rapport title="Saldo Atual" [total]="57" description="Cumulativo" [isCumultative]="true" />

  </div>
</section>
<section class="container_table">
  <app-table></app-table>
</section>
<app-header (openModal)="openModal($event)"></app-header>
<app-bottom-modal [isOpen]="isModalOpen" (closeModal)="closeModal()">
  <ng-container [ngSwitch]="modalType">

    <!-- Modal de adicionar input -->
    <app-modal-add-record *ngSwitchCase="'add'" (cancel)="closeModal()" />
    <!-- Modal de definições -->
    <app-modal-settings *ngSwitchCase="'settings'" (cancel)="closeModal()"></app-modal-settings>

    <!-- Modal de definições -->
    <app-modal-rapports *ngSwitchCase="'open-rapports'"></app-modal-rapports>

    <!-- Modal de fechar mês -->
    <app-modal-close-month *ngSwitchCase="'close-month'" (cancel)="closeModal()"></app-modal-close-month>

  </ng-container>
</app-bottom-modal>