@use "variables" as *;

.modal-container {
  margin: 20px;
  border: 2px solid $border;
  background-color: $bg-second;
  border-radius: 8px;
  padding: 20px;
}

.modal-header {
  font-family: $font-main;
  color: $color-text;
  margin-bottom: 15px;
}
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container-rapport {
  padding: 10px;
  border: 2px solid $border;
  border-radius: 8px;
  background-color: $inside-card;
}

.container-rapport-live {
  padding: 10px;
  border: 2px solid #183999;
  border-radius: 8px;
  background-color: #1e2c4a;
}

.positive {
  font-weight: bold;
}
.positive-bar {
  background-color: $success;
}
.negative-bar {
  background-color: $danger;
}

.negative {
  font-weight: bold;
}
table {
  width: 100%;
  border-collapse: separate;
}
th,
td {
  text-align: left;
}

.rapport {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-main;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
  }
  &__status {
    color: #4fa1ff;
    font-size: small;
  }
  &__rapport {
    margin-top: 15px;
  }

  &__rapport th {
    font-size: 13px;
    font-weight: 400;
    color: $text-cards;
    padding-bottom: 8px;
  }
  &_statusBar {
    margin-top: 15px;
    width: 100%;
    height: 8px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    &__filled {
      height: 100%;
      transition: width 0.5s ease-in-out;
    }
    &__empty {
      height: 100%;
      background: $text-cards;
      flex-grow: 1;
    }
  }
}
