<div class="modal-container">

  <div class="modal-header">
    <h3 class="modal-title">Relatórios Mensais</h3>
  </div>
  <div class="modal-body">
    <div class="container-rapport-live">
      <div class="rapport__header">
        <span class="rapport__header__title">November 2024</span>
        <span class="rapport__header__saved positive">&euro; 57</span>
      </div>
      <div class="rapport__status">
        Em andamento
      </div>
      <div class="rapport__rapport">
        <table>
          <thead>
            <tr>
              <th>Total gasto</th>
              <th>BudgetTotal </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>&euro; 1420</td>
              <td>&euro; 3020</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="rapport_statusBar">
        <div class="rapport_statusBar__filled positive-bar" style="width: 47%;"></div>
        <div class="rapport_statusBar__empty" style="width: 53%;"></div>
      </div>
    </div>
    <div class="container-rapport">
      <div class="rapport__header">
        <span class="rapport__header__title">Outubro 2024</span>
        <span class="rapport__header__saved negative">&euro; -57</span>
      </div>
      <div class="rapport__rapport">
        <table>
          <thead>
            <tr>
              <th>Total gasto</th>
              <th>BudgetTotal </th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>&euro; 2420</td>
              <td>&euro; 3020</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="rapport_statusBar">
        <div class="rapport_statusBar__filled negative-bar" style="width: 100%;"></div>
        <div class="rapport_statusBar__empty" style="width: 0%;"></div>
      </div>
    </div>
  </div>
</div>