<table class="table">
  <thead>
    <tr>
      <th colSpan="4" class="table_title">{{actualMonth()}}</th>
    </tr>
    <tr class="thead-legends">
      <th>Dia</th>
      <th>Gasto</th>
      <th>Diferenca</th>
      <th>Cumulativo</th>
    </tr>
  </thead>
  <tbody>
    @for (dayrecord of monthRecords; track dayrecord.id) {
    <tr>
      <td class="table_title"> <span class="day">{{dayrecord.day}}</span></td>
      <td class="spend"> &euro; {{dayrecord.total}}</td>
      <td>
        <span class="difference" [ngClass]="{
        'positive': dayrecord.difference >= 0,
        'negative': dayrecord.difference < 0
      }">
          € {{ dayrecord.difference }}
        </span>
      </td>
      <td> <span class="remain" [ngClass]="{
        'positive': dayrecord.rest >= 0,
        'negative': dayrecord.rest < 0}"> &euro; {{dayrecord.rest}}</span></td>
    </tr>
    }
  </tbody>
  <tfoot></tfoot>
</table>