<table class="table">
  <thead>
    <tr>
      <th colSpan="4" class="table_title"> November 2024</th>
    </tr>
    <tr class="thead-legends">
      <th>Dia</th>
      <th>Gasto</th>
      <th>Diferenca</th>
      <th>Cumulativo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table_title"> <span class="day">1</span></td>
      <td class="spend"> &euro; 85</td>
      <td> <span class="difference"> + &euro; 15 </span></td>
      <td> <span class="remain"> &euro; 15</span></td>
    </tr>
    <tr>
      <td class="table_title"> <span class="day">1</span></td>
      <td class="spend"> &euro; 85</td>
      <td> <span class="difference"> + &euro; 15 </span></td>
      <td> <span class="remain"> &euro; 15</span></td>
    </tr>
    <tr>
      <td class="table_title"> <span class="day">1</span></td>
      <td class="spend"> &euro; 85</td>
      <td> <span class="difference"> + &euro; 15 </span></td>
      <td> <span class="remain"> &euro; 15</span></td>
    </tr>
    <tr>
      <td class="table_title"> <span class="day">1</span></td>
      <td class="spend"> &euro; 85</td>
      <td> <span class="difference"> + &euro; 15 </span></td>
      <td> <span class="remain"> &euro; 15</span></td>
    </tr>
    <tr>
      <td class="table_title"> <span class="day">1</span></td>
      <td class="spend"> &euro; 85</td>
      <td> <span class="difference"> + &euro; 15 </span></td>
      <td> <span class="remain"> &euro; 15</span></td>
    </tr>
    <tr>
      <td class="table_title"> <span class="day">1</span></td>
      <td class="spend"> &euro; 85</td>
      <td> <span class="difference"> + &euro; 15 </span></td>
      <td> <span class="remain"> &euro; 15</span></td>
    </tr>
    <tr>
      <td class="table_title"> <span class="day">1</span></td>
      <td class="spend"> &euro; 85</td>
      <td> <span class="difference"> + &euro; 15 </span></td>
      <td> <span class="remain"> &euro; 15</span></td>
    </tr>
    <tr>
      <td class="table_title"> <span class="day">1</span></td>
      <td class="spend"> &euro; 85</td>
      <td> <span class="difference"> + &euro; 15 </span></td>
      <td> <span class="remain"> &euro; 15</span></td>
    </tr>
    <tr>
      <td class="table_title"> <span class="day">1</span></td>
      <td class="spend"> &euro; 85</td>
      <td> <span class="difference"> + &euro; 15 </span></td>
      <td> <span class="remain"> &euro; 15</span></td>
    </tr>
    <tr>
      <td class="table_title"> <span class="day">1</span></td>
      <td class="spend"> &euro; 85</td>
      <td> <span class="difference"> + &euro; 15 </span></td>
      <td> <span class="remain"> &euro; 15</span></td>
    </tr>
    <tr>
      <td class="table_title"> <span class="day">1</span></td>
      <td class="spend"> &euro; 85</td>
      <td> <span class="difference"> + &euro; 15 </span></td>
      <td> <span class="remain"> &euro; 15</span></td>
    </tr>

  </tbody>
  <tfoot></tfoot>
</table>
