@use "variables" as *;

.modal-container {
  margin: 20px;
  border: 2px solid $border;
  background-color: $bg-second;
  border-radius: 18px;
  padding: 20px;
}

.modal-header {
  font-family: $font-main;
  color: $color-text;
  margin-bottom: 15px;
}
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
}
.card-resume {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 18px;
  border: 2px solid $border;
  border-radius: 18px;
  background-color: $inside-card;

  h5 {
    font-family: $font-main;
    color: $color-text-cards;
    margin-bottom: 10px;
  }

  &_item {
    display: flex;
    justify-content: space-between;
    font-family: $font-main;
    color: $color-text-cards;
  }
  &_item_span {
    color: white;
  }
}

.positive {
  font-weight: bold;
}

.negative {
  font-weight: bold;
}

.card-warning {
  display: flex;
  gap: 10px;
  border: 2px solid $warning-border;
  border-radius: 18px;
  padding: 20px;
  background-color: $warning-bg;
  color: yellow;
  line-height: 1.5;
}
.card-input {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &_header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;

    h4 {
      font-family: $font-main;
      color: $gray-text;
      font-weight: 500;
    }
    i {
      color: $primary;
    }
  }

  label {
    font-family: $font-main;
    color: $color-text;
  }

  input {
    padding: 18px;
    border-radius: 16px;
    border: 1px solid $border;
    background-color: $bg;
    color: $color-text-cards;
    font-family: $font-main;
    font-size: 16px;

    &::placeholder {
      color: $text-cards;
    }
  }
}
.card-btns {
  display: flex;
  gap: 20px;
}
