@use "variables" as *;

.modal-container {
  margin: 20px;
  border: 2px solid $border;
  background-color: $bg-second;
  border-radius: 8px;
  padding: 20px;
}

.modal-header {
  font-family: $font-main;
  color: $color-text;
  margin-bottom: 15px;
}
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 30px;
}
.positive {
  font-weight: bold;
}

.negative {
  font-weight: bold;
}

.card-input {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &_header {
    display: flex;
    align-items: center;
    gap: 10px;

    h4 {
      font-family: $font-main;
      color: $color-text-cards;
      font-weight: 500;
    }
    i {
      color: $primary;
    }
  }
  &_small {
    color: $small-text;
  }

  label {
    font-family: $font-main;
    color: $color-text;
  }

  input {
    padding: 18px;
    border-radius: 16px;
    border: 1px solid $border;
    background-color: $bg;
    color: $color-text-cards;
    font-family: $font-main;
    font-size: 16px;

    &::placeholder {
      color: $text-cards;
    }
  }
  select {
    padding: 18px;
    border-radius: 16px;
    border: 1px solid $border;
    background-color: $bg;
    color: $color-text-cards;
    font-family: $font-main;
    font-size: 16px;
  }
}
.card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid $info-border;
  border-radius: 18px;
  padding: 20px;
  background-color: $info-bg;
  color: $info-text;
  line-height: 1.5;

  small {
    font-weight: bold;
    color: #8cc4ff;
  }
}

.card-btns {
  display: flex;
  gap: 20px;
}
