/* You can add global styles to this file, and also import other style files */
@use "variables" as *;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: $font-main;
  font-size: $font-size-base;
  color: $light;
  background: $bg;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn-base($bg, $color: #fff) {
  background: $bg;
  color: $color;
  padding: 0.7rem 1.2rem;
  border-radius: $border-radius;
  cursor: pointer;
  border: none;
  transition: $transition;
}

// Primary button
.btn-primary {
  @include btn-base($primary);
}

// Secondary button
.btn-secondary {
  @include btn-base($secondary, #000);
}

// Success button
.btn-success {
  @include btn-base($success);
}

// Danger button
.btn-danger {
  @include btn-base($danger);
}

.positive {
  color: $success;
  font-weight: bold;
}

.negative {
  color: $danger;
  font-weight: bold;
}
