// Colors
$primary: #0066ff;
$secondary: #ff9900;
$danger: #ff4444;
$success: #22bb66;
$gray: #7a7a7a;
$light: #f5f5f5;
$dark: #1e1e1e;
$bg: #101829;
$bg-second: #1a2333;
$border: #374254;
$bg-header: #1a2333;
$text-cards: #99a1b0;
$color-text: #99a1b0;
$inside-card: #242f40;
$color-text-cards: #d0d4db;
$warning-bg: #2f2e30;
$warning-border: #6b4618;
$info-bg: #1e2c4a;
$info-border: #1d306b;
$info-text: #6c97cc;
$gray-text: #cbcfd6;
$small-text: #6b7282;

// Typography
$font-main: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// $font-main: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
//   "Liberation Mono", "Courier NewEmoji";
$font-size-base: 16px;
$border-radius: 6px;
$transition: 0.25s ease;
