@use "./variables" as *;
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  opacity: 1;
}

.bottom-modal {
  position: fixed;
  bottom: -100%; // escondido inicialmente
  left: 0;
  width: 100%;
  height: 90vh;
  background: $bg;
  border-radius: 16px 16px 0 0;
  padding: 20px;
  z-index: 20;
  transition: bottom 0.25s ease-out;

  &.open {
    bottom: 0; // sobe
  }

  .handle {
    width: 40px;
    height: 4px;
    background: #ccc;
    border-radius: 2px;
    margin: 0 auto 10px auto;
  }
}
