<div class="modal-container">

  <div class="modal-header">
    <h3 class="modal-title">Definições</h3>
  </div>
  <div class="modal-body">
    <div class="card-input">
      <div class="card-input_header">
        <i class="fa-solid fa-euro-sign fa-lg"></i>
        <h4>Budget Diário</h4>
      </div>
      <input type="text" id="input-euro" placeholder="ex: 100">
      <small class="card-input_small">Defina o valor máximo que deseja gastar por dia</small>
    </div>
    <div class="card-input">
      <div class="card-input_header">
        <i class="fa-regular fa-calendar fa-lg"></i>
        <h4>Dia do Início do Mês</h4>
      </div>
      <input type="number" placeholder="ex: 1">
      <small class="card-input_small">Escolha o dia em que o seu mês começa (1-31)</small>
    </div>
    <div class="card-input">
      <div class="card-input_header">
        <h4>Moeda</h4>
      </div>
      <select>
        <option value="euro">Euro (€)</option>
        <option value="dollar">Dólar ($)</option>
        <option value="libra">Libra (£)</option>
        <option value="iene">Iene (¥)</option>
      </select>
    </div>
    <div class="card-btns">
      <button class="btn" (click)="onCancel()">Cancelar</button>
      <button class="btn btn-primary">Guardar as Definições</button>
    </div>
  </div>
</div>